.follow_button_div1 {
    /* background-color: #a4e4fc;   */
    background-color: #E76E55;

    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.follow_button_div2 {
    /* background-color: #E76E55; */
    background-color: #a4e4fc;

    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}


.follow_button1 {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration:500ms;

    /* background-color: blue; */
    overflow-y: scroll;

}

.follow_button1::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.follow_button1:hover {

    font-size: 1.5rem;
    /* background-color: #3cbcfc; */
    background-color: red;

    cursor: pointer;
    border-radius: 15px;
    /* transition-duration:500ms; */

}

.follow_button2 {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration:500ms;
    overflow-y: scroll;

    /* background-color: blue; */
}

.follow_button2::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.follow_button2:hover {

    font-size: 1.5rem;
    /* background-color: red; */
    background-color: #3cbcfc;

    cursor: pointer;
    border-radius: 15px;
    /* transition-duration:500ms; */

}