.tablecard {
	border: 3px solid black;
    border-radius: 15px;
    margin: 14px;
    padding: 14px;
	min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    background-color: #3cbcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.tablecard::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.gamelistoutter {
    /* height: calc(100vh - 167px); */
    height: 100%;

    background-color: #7c7c7c;
    /* background-color: green; */

    border: 3px solid black;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;



}

.gamelistoutter::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.gamecomponentsoutter {

    background-color: #bcbcbc;
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;

}

.gamelistwords {
    font-size: 1.75em;
    margin: 25px;
    /* position: absolute; */

}

.editdeletebuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
