/* TODO Add site wide styles */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    text-align: center;
    /* margin: 1em; */
    font: 1.25em "Press start 2P";
    font-weight: 700;
}

* {
    box-sizing: border-box;
    color: black;
    margin: 0px;
    padding: 0px;
    word-break: break-word;

}


a {
    text-decoration: none;
}
  
@media screen and (max-width: 1200px) {
	body {
        font: 1em "Press start 2P";
        /* font-weight: 500; */
	}
}

@media screen and (max-width: 800px) {
	body {
        font: 0.5em "Press start 2P";
        /* font-weight: 500; */
	}
}