.outterdiv {
	width: 100%;
  	height: 100px;
	background-color: #f1f1f1;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: row;
	border-bottom: 3px solid #7c7c7c;
}


.buffer {
	width: 100vw;;
	height: 100px;
	background-color: #7c7c7c;
	position: relative;
	left: -16px;
	margin-bottom: 20px;
}

.leftoutterdiv {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: ease-in;
}

.middleoutterdiv {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.middleoutterdiv:hover {

	animation-name: jump;
	animation-duration: 0.6s;
	animation-timing-function: ease-in;
}

.rightoutterdiv {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: ease-in;
	/* background-color:red; */
}

.rightoutterdiv:hover {

	animation-name: jump;
	animation-duration: 0.6s;
	animation-timing-function: ease-in;
}

.navhome {

	height: 40%;
	width: 60%;

}

.homenavlink {
	background-color: #F7D51D;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border: 3px solid black;
	border-radius: 15px;
	font-size: larger;

}

.leftoutterdiv:hover {

	animation-name: jump;
	animation-duration: 0.6s;
	animation-timing-function: ease-in;
}

@keyframes jump {
	0% {
	}
	50% {
		transform: translate(0px, -20px);
	}
	100% {
	}
}

.logodiv {

	height: 40%;
	width: 60%;

}

.logoinnerdiv {
	background-color: #a4e4fc;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border: 3px solid black;
	border-radius: 15px;
	font-size: larger;
}


.navuserbuttons {

	height: 100%;
	width: 100%;

}	

.navuserbuttons:hover {

	cursor: pointer;

}

.navlogin {
	background-color: #92CD41;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border: 3px solid black;
	border-radius: 15px;
	font-size: larger;
}

.rightbuttons {
	height: 40%;
	width: 60%;
}